<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    
    <servlet>
        <servlet-name>/brand/*</servlet-name>
        <servlet-class>com.itheima.web.servlet.BrandServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>/brand/*</servlet-name>
        <url-pattern>/brand/*</url-pattern>
    </servlet-mapping>
</web-app>